@model RubberduckWebsite.Models.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<section>
    <div class="text-center">
        <h1 class="display-4">Rubberduck</h1>
        <p>A free and open-source VBIDE add-in</p>

        <!-- download main tag -->
        <div class="col-2 flex-lg-row">
            @if (Model.MainTag != null)
            {
                <p style="margin-bottom: 0; color: lightslategrey;">[main] <small>@Model.MainTag.DateCreated.ToString("yyyy-MM-dd")</small></p>
                <a class="btn btn-success btn-lg text-nowrap" id="downloadLatestRelease"
                   download title="Download the latest release build"
                   href="@Model.MainTag.InstallerDownloadUrl">
                    <div class="d-inline-block">
                        <span class="icon icon-download-windows"></span>
                        <span class="text-nowrap">@Model.MainTag.Name</span>
                    </div>
                </a>

            }
            else
            {
                <a class="btn btn-success btn-lg"
                   title=""
                   href="https://github.com/rubberduck-vba/Rubberduck/releases/latest">
                    <div class="d-inline-block">
                        <span class="text-nowrap">Download</span>
                    </div>
                </a>
            }

            @if (Model.MainTag != null)
            {
            <p><small><strong>@Model.MainTag.InstallerDownloads.ToString("N0")</strong> downloads</small></p>
            }
            <a class="btn-link small"
               title="See the release notes on GitHub"
               href="https://github.com/rubberduck-vba/Rubberduck/releases/latest">
                <span class="text-nowrap">Release notes</span>
            </a>
        </div>

        <!-- download next tag -->
        <div class="col-2 flex-lg-row">
            @if (Model.NextTag != null)
            {
                <p style="margin-bottom: 0; color: lightslategrey;">[next] <small>@Model.NextTag.DateCreated.ToString("yyyy-MM-dd")</small></p>
                <a class="btn btn-outline-success btn-lg text-nowrap" id="downloadLatestPreRelease" download
                   title="Download the latest pre-release build"
                   href="@Model.NextTag.InstallerDownloadUrl">
                    <div class="d-inline-block">
                        <span class="icon icon-download-windows"></span>
                        <span>@Model.NextTag.Name.Split('-')[1]</span>
                    </div>
                </a>

                <p><small><strong>@Model.NextTag.InstallerDownloads.ToString("N0")</strong> downloads</small></p>
                <a class="btn-link small"
                   title="See the release notes on GitHub"
                   href="https://github.com/rubberduck-vba/Rubberduck/releases/@Uri.EscapeDataString(Model.NextTag.Name)">
                    <span class="text-nowrap">Release notes</span>
                </a>
            }
            else
            {
                <a class="btn btn-success btn-lg" href="https://github.com/rubberduck-vba/Rubberduck/releases">
                    <div class="d-inline-block">
                        <span class="icon icon-download-windows"></span>
                        <span class="text-nowrap">Pre-Release</span>
                    </div>
                </a>
            }
        </div>

        <!-- repository -->
        <div class="row">
            <p><span class="text-nowrap">Star <span class="icon icon-star" style="margin-right: 2px;"></span> us on GitHub:</span></p>
            <div class="d-inline-block cursor-pointer">
                <a href="https://github.com/rubberduck-vba/Rubberduck/"><img src="~/Content/Images/GitHub-Mark-64px.png" alt="GitHub logo" style="margin: 8px;" title="Browse source code and issues on GitHub" /></a>
                <a href="https://github.com/rubberduck-vba/Rubberduck/" class="btn btn-outline-secondary btn-lg" title="Browse source code and conversations on GitHub">Repository</a>
            </div>
        </div>

        <div>
            <small><em>Tag/release metadata updated @Model.MetadataTimestamp.ToString("yyyy-MM-dd hh:MM:ssZ")</em></small>
        </div>
    </div>
</section>

<section>
    <h3>How Rubberduck brings the VBIDE into this century</h3>
    @foreach (var feature in Model.Features.OrderBy(f => f.SortOrder))
    {
        <div class="row">
            <div class="col-4">
                <a href="Features/@feature.Name">
                    <h4>@feature.Title</h4>
                </a>
                <p>@feature.ElevatorPitch</p>
            </div>
            <div class="col-8">
                <img src="@feature.Name\.png" />
            </div>
        </div>
    }
</section>

<section>
    <h2>Support us!</h2>
    <p>Rubberduck is free, but keeping it visible online is not.</p>
</section>