@model RubberduckWebsite.Models.AdminViewModel
@{
    ViewData["Title"] = "Admin";
}
@section Scripts {
    <script type='text/javascript'>
    function getRelativeTimeOffset(elapsed) {

        var msPerMinute = 60 * 1000;
        var msPerHour = msPerMinute * 60;
        var msPerDay = msPerHour * 24;
        var msPerWeek = msPerDay * 7;
        var msPerMonth = msPerDay * 30;
        var msPerYear = msPerDay * 365;

        if (elapsed < msPerMinute) {
            return Math.round(elapsed / 1000) + ' seconds ago';
        }

        else if (elapsed < msPerHour) {
            return Math.round(elapsed / msPerMinute) + ' minutes ago';
        }

        else if (elapsed < msPerDay) {
            return Math.round(elapsed / msPerHour) + ' hours ago';
        }

        else if (elapsed < msPerWeek) {
            return Math.round(elapsed / msPerDay) + ' days ago';
        }

        else if (elapsed < msPerMonth) {
            return Math.round(elapsed / msPerWeek) + ' weeks ago';
        }

        else if (elapsed < msPerYear) {
            return Math.round(elapsed / msPerMonth) + ' months ago';
        }

        else {
            return Math.round(elapsed / msPerYear) + ' years ago';
        }
    }

    function setTagMetadataBusy(setBusy) {
        var button = $('#update-tags-button');
        var indicator = $('#tag-metadata-busy-indicator');

        if (setBusy) {
            button.attr('disabled', true);
            button.addClass('disabled');
            $('#update-tags-button-text').text('Processing...');
            indicator.removeAttr('hidden');
        }
        else {
            button.removeClass('disabled');
            button.removeAttr('disabled');
            button.text('Update');
            indicator.attr('hidden', true);
        }
    }

    $(document).ready(function () {
        var offset = getRelativeTimeOffset(@Model.MillisecondsSinceLastUpdate);
        var timestamp = '@Model.TagMetadataTimestamp?.ToString("yyyy-MM-dd hh:MM:ssZ") (' + offset + ')';
        $('#tag-metadata-timestamp').text(timestamp);
        $('#update-tags-button').click(function () {
            setTagMetadataBusy(true);
            $.ajax({
                url: 'Admin/UpdateTagMetadata',
                type: 'POST'
            })
            .done(function (data, textStatus, xhr) {
                console.log('tag metadata was updated successfully.');
                $('#tag-metadata-success-alert').addClass('show');
            })
            .fail(function (data, textStatus, xhr) {
                $('#tag-metadata-error-message').text(xhr);
                $('#tag-metadata-error-alert').addClass('show');
                console.log(xhr);
            })
            .always(function () {
                setTagMetadataBusy(false);
            });
        });
    });
    </script>
}

<section class="row">
    <div class="w-100">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tag Metadata</h3>
                @if (Model.TagMetadataTimestamp.HasValue)
                {
                    <p class="card-subtitle">Last updated: <span id="tag-metadata-timestamp" class="text-primary">@Model.TagMetadataTimestamp?.ToString("yyyy-MM-dd hh:MM:ssZ")</span></p>
                }
            </div>
            <div class="card-body">
                <p>This data should be downloaded regularly to keep per-tag installer downloads up-to-date.</p>
                <p>API downloads all tags, then identifies the latest tags in the [next] and [main] branches and proceeds to download and merge xmldoc content into the backend database.</p>
            </div>
            <div class="card-footer card-footer-quiet">
                <button id="update-tags-button" class="btn btn-primary" type="button">
                    <span id="tag-metadata-busy-indicator" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden="hidden"></span>
                    <span id="update-tags-button-text">Update</span>
                </button>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="row">
    <div class="w-100 text-center">
        <div>
            <h3>Features</h3>
            <p>
                Use this page to organize and maintain features and their respective sub-features.
            </p>
            <div class="row m-5 p-2">
                <a id="create-feature-button" class="btn btn-success" asp-controller="Admin" asp-action="NewFeature">Add top-level feature</a>
            </div>
        </div>
        @foreach (var feature in Model.Features)
        {
    <div class="p-1">
        <div id="@feature.Name" class="card">
            <div class="card-header">
                <h4 class="d-inline text-left">@feature.Title</h4>
                <a id="expand-feature-button-@feature.Name" class="btn btn-primary float-right" href="#collapse-@feature.Name" role="button" aria-expanded="false" aria-controls="collapse-@feature.Name" data-toggle="collapse">Expand</a>
                <a id="edit-feature-button-@feature.Name" class="btn btn-outline-primary float-right" asp-controller="Admin" asp-action="EditFeature" asp-all-route-data='@new Dictionary<string, string> { ["name"] = $"{feature.Name}" }'>Edit</a>
            </div>
            <div class="collapse" id="collapse-@feature.Name">
                <div class="card-body">
                    <p class="card-text">@feature.ElevatorPitch</p>
                    <div class="row m-1">
                        @foreach (var sub in feature.SubFeatures)
                        {
                            <div id="@sub.Name" class="card col-3">
                                <div class="card-header bg-light">
                                    <h5 class="d-inline text-left">@sub.Title</h5>
                                    <a id="edit-subfeature-button-@sub.Name" class="btn btn-outline-primary float-right" asp-controller="Admin" asp-action="EditFeature" asp-all-route-data='@new Dictionary<string, string> { ["name"] = $"{sub.Name}" }'>Edit</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">@sub.ElevatorPitch</p>
                                </div>
                            </div>
                        }

                        <div id="@feature.Name-new-subfeature" class="card col-3">
                            <div class="card-body">
                                <a id="add-subfeature-button-@feature.Name" class="btn btn-outline-success" asp-controller="Admin" asp-action="NewSubFeature" asp-all-route-data='@new Dictionary<string, string> { ["parent"] = $"{feature.Name}" }'>Add sub-feature</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    </div>
</section>

<div id="tag-metadata-error-alert" class="alert alert-danger fade" role="alert">
    <span id="tag-metadata-error-message">Error message goes here</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="tag-metadata-success-alert" class="alert alert-success fade" role="alert">
    <span>Tag metadata and xmldoc content update completed successfully.</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="upload-screenshot-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Screenshot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UploadScreenshot">
                    <label class="form-label" for="screenshot">Select an image file to upload</label>
                    <input type="hidden" id="feature-name" name="featureName" value="CodeInspections" hidden />
                    <input type="file" class="form-control" id="screenshot" name="screenshotFile" required />
                    <label class="form-check-label" for="screenshot">Select an image file to upload</label>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
